{% extends "_layouts/base.twig" %}

{% block content %}

  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">
      <h1 class="c-pagetitle">{{ entry.pageBigtitle }}</h1>
    </div>
  </div>

  <p>Page about</p>
{% endblock %}