{# 
  Craft regarde l'URL (Routing)
  - il sait d'après l'URL que vous affichez le detail d'une entry
  - normal, on lui a donné la structure des URLs en définissant la section projets
  - comme il est gentil, il vous créé automatiquement un objet "entry" auquel tous les champs sont attachés
#}

{# layout #}
{# 
- en examinant l'URL (Routing), Craft sait qu'elle correspond à une entry de la section projets (on lui a donné la structure de ces URL en définissant la section)
- Craft met automatiquement à notre disposition une variable "entry" qui est un objet contenant tous les champs définis pour les éléments de la section projets.  
#}

{# layout to extend #}
{% extends "_layouts/base.twig" %}

{# block content #}
{% block content %}

  {% set img = entry.projectImage.one() %}
  {% if img %}
    <div class="c-banner">
      <img src="{{ img.getUrl({ width: 1500, height: 1125 }) }}" alt="">
    </div>
  {% endif %}

  <div class="c-pagesection">

    <div class="c-casemodule">
      <div class="l-container  l-container--copy">

        <h1 class="c-h1 u-mb-xs">{{ entry.title }}</h1>
        <p class="c-subtitle">{{ entry.projectShortDescription }}</p>
      
      </div>
    </div>

  </div>

{% endblock %}