{# --------------------------
variables
-------------------------- #}

{% set title = title ?? null %}
{% set txt = txt ?? null %}

{# --------------------------
template
-------------------------- #}

<h2>{{ title }}</h2>
{{ txt }}