{# --------------------------
variables
-------------------------- #}

{% set title = title ?? null %}
{% set txt = txt ?? null %}

{# --------------------------
template
-------------------------- #}
<div class="c-casemodule">
  <div class="l-container  l-container--copy">
    <h2 class="c-h3">{{ title }}</h2>
    {{ txt }}
  </div>
</div>