{# --------------------------
variables
-------------------------- #}
{% set service = service ?? null %}
{% set id = id ?? null %}
{% set caption = caption ?? null %}
{% set videoUrl = null %}

{% if id and service %}
  {% set videoUrl = "https://www.youtube.com/embed/#{id}" %}
  {% if service == "vimeo" %}
    {% set videoUrl = "https://player.vimeo.com/video/#{id}" %}
  {% endif %}
{% endif %}

{# --------------------------
template
-------------------------- #}

{# afficher l'iframe et caption #}
<iframe src="{{ videoUrl }}"></iframe>
<p>{{ caption }}</p>